body{
	background-color:white;
	background-size:100%;
	background-position:fixed;
	backgroud-repeat:no-repeat;
}



h10,h13{
	color:blue;
	font-size:50;
	font-family:serif;
}

p{
	color:black;
	font-size:25;
}

h1{
	color:darkgreen;
	font-family:sans-serif;
	font-size:20;
}

h2{
	font-size:50;
	font-family:serif;
	color:brown;
}

table{
	color:brown;
	font-size:15;
	font-family:serif;
}

h4,h9{
	color:brown;
	font-size:30;
	font-family:serif;
}

h6{
	color:brown;
	font-size:50;
	font-family:serif;
}

h8{
	color:brown;
	font-size:50;
	font-family:serif;
}


button{
	border-width:5;
	border-color:red;
	font-size:20;
}

h14{
	color:black;
	font-family:sans-serif;
	font-size:18;
}

